body{
    margin: 0px;
    padding: 0px;
}

#nav_bg_color{
    background: #264653;
}

#search_area{
    width: 250px;
}

#cart_dialog{
    text-decoration: none;
}

/*Slider area css*/
.slider-img{
   margin: 50px 140px;
}

.slider-text-area{
    margin-top: 120px;
}
.slider-text-area h2{
    text-align: center;
}

.slide-bg{
    background-color: black;
}

/* menu section css */
#product-menu{
    background-color: #264653;
}

#menu-title{
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

.menu-image{
    width: 120px;
    height: 120px;
    background-color: white;
    margin:  20px auto 0px auto;
    border-radius: 8px;
}

.menu-image img{
    width: 80%;
    margin-left: 12px;
    margin-top: 10px;
}

.menu-title{
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
    color: white;
    padding-top: 20px;
}

.menu-bg-color{
    background-color: #264653;
}

/* news section css */

 #news-section{
     height: 300px;
     background-color: #264653
 }

 #news-section h2{
     color: white;
     text-align: center;
     padding-top: 40px;
 }
 .news-area{
     width: 100%;
     margin: auto;
     background-color: #264653;
 }
 .news-feed{
     height: 420px;
     overflow: hidden;
 }
 .news-img{
     width: 250px;
     margin: auto;
 }
 .news-img img{
     width: 100%;
 }
 .card{
     margin: 25px auto;
 }

 .btn-news{
     background-color: #264653;
 }
 
